.jump {
  font-style: italics;
  opacity: 0.5;
  text-align: center;
}

#index {
  border-top: 1px solid #494949;
  margin: 2rem 0;
  padding: 1rem 0;
}

#index > h1 {
  font-weight: normal;
  opacity: 0.5;
  font-size: 1.5rem;
  text-align: right;
}

#index article p {
  margin-left: 2rem;
}

