doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  title White Aldus
  subtitle A serial novel.
  link(href='http://whitealdus.passcod.name/feed' rel='self')
  link(href='http://whitealdus.passcod.name')
  id= 'urn:X-whitealdus:' + ($.chapter - 1)

  - var i = $.chapter
  each _ in Array($.chapter + 1)
    - i--
    unless i < 0
      - var chapter = getChapter(i)
      entry
        title= 'Chapter ' + i + ': ' + chapter.title
        link(href='http://whitealdus.passcod.name/chapter/' + i)
        id= 'urn:X-whitealdus:' + i
        summary= chapter.contents.substring(0, 500) + '…'
        author
          name Félix Saparelli
          email whitealdus@passcod.name
