extends layout.jade

block style
  link(rel='stylesheet', href='/css/base,responsive,index,flip')

block yield
  p.jump: a(href='#index') (Jump to chapter list)

  - var chapter = getChapter($.chapter)
  article(data-id=$.chapter, data-live)
    h1= 'Chapter ' + $.chapter + ': ' + chapter.title
    .contents!= markdown(chapter.contents)

  menu#index
    h1 All Chapters
    - var i = 0
    each _ in Array($.chapter + 1)
      - var chapter = getChapter(i)
      article(data-excerpt, data-id=i)
        h1: a(href='/chapter/' + i)
          = 'Chapter ' + i + ': ' + chapter.title
        p!= markdown(chapter.contents.substring(0, 200) + '…')
      - i++
      
